.footer-top {
    position: relative;
    height: 100px; width: 100%;
    padding-bottom: 50%;
    z-index: 2;
    background-clip: content-box;
    overflow: hidden;
  }
  .footer-top:after {
    content: "";
    position: absolute;
    top:0;  left: 0;
    background-color: inherit;
    padding-bottom: 50%;
    width: 100%;
    z-index: -1;
    transform-origin: 0 0;
    transform: rotate(-30deg) skewX(30deg);
  }
  .star{
    /* transition: top 1s, left 1s; */
  }