.project-details{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    opacity: 0;
    transition: all 700ms;
}*

.project-info{
    position: relative;
    top: -200px!important;
    transition: top 300ms;
}

.learn-more-btn{
    position: relative;
    top: 200px!important;
    transition: top 300ms;
}
.project:hover{
    z-index: 1!important;
}
.project:hover>.project-details{
    opacity: 1;
}

.project>img{
    opacity: 1;
    transition: opacity 200ms;
}

.project:hover>.project-details>*>.project-info{
    top: 0px!important;
}
.project:hover>.project-details>*>.learn-more-btn{
    top: 0px!important;
}
.project:hover>img{
    opacity: 0;
}

.prevCard {
    left: 0;
}

.activeCard {
    left: 50%;
    transform: translateX(-50%);
}

.nextCard {
    right: 0;
}

.image-slider{
    transition: left 400ms ease;
}